*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.flex{
    display: flex;
    gap: 10px;
    align-items: center;
}


body{
    /* height: 100vh; */
     font-family: "Google Sans Flex", sans-serif;
}

.headerSection {
    border-bottom: 1.5px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logoSection{
    width: 70px;
}
.logoSection img{
    width: 100%;
    border-radius: 50px;
}

.itemsList{
    align-items: center;
    display: flex;
    gap: 30px;
}

.itemsList li{
    list-style-type: none;
    cursor: pointer;
}

.itemsList li:hover{
    color: rgb(194, 34, 34);
}

.mainBody{
    padding: 15px;
}
.searchinput{
    width: 19vw;
    padding: 6px;
    outline: none;
}
.searchbarSection{
    display: flex;
    align-items: center;
    gap: 5px;
}

.mainCont{
    width: 20.5vw;
    height: 72vh;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shim-mainCont{
    padding: 6px;
    width: 20.5vw;
    height: 62vh;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.shimmer-main-cont{
    padding-top: 15px;
    justify-content: space-around;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;

}

.fake-foodimg{
    padding: 107px 0px;
    background-color: #e3e3e3;
    border-radius: 5px;
}

.fake-ratingsecton{
    margin: 15px 0px;
    padding-top: 14px;
    padding: 8px 0px;
    background-color: #e3e3e3;
    border-radius: 5px;
}

.fakesubheadingSection{
    width: 14vw;
    padding-top: 14px;
    padding: 8px 0px;
    background-color: #e3e3e3;
    border-radius: 5px;
}

.fakecircle{
    width: 3vw;
    padding: 22px;
    border-radius: 33px;
    margin: 13px 0px;
    background-color: #e3e3e3;
}
.fakesubheading{
    background-color: #e3e3e3;
    width: 8vw;
    padding: 4px;
    border-radius: 4px;
}
.foodimg{
    width: 100%;
    height: 50%;
    position: relative;
}

.imgtext{
    position: absolute;
    top: 185px;
    left: 7px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.foodimg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.foodContent{
    padding-left: 10px;
    padding-top: 10px;
}

.foodContent> h2{
    font-size: 25px;
}

.ratingsection{
    display: flex;
    align-items: center;
    gap: 4px;
}
.ratingsection >p{
    font-size: 20px;
}

.ratingsection > span{
    font-size: 20px;
}

.subheadingSection{
    margin-top: 7px;
    color: gray;
    padding-left: 3px;
    font-size: 18px;
}
.cuisines{
    margin: 5px 0px;
    word-wrap: break-word;
}


.cardSection{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}

.upperMainBody{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
.rated-btn{
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    /* outline: none; */
    cursor: pointer;
    border: none;
}

.btn{
    border: none;
    padding: 7px 15px;
    cursor: pointer;
}
.btn:hover{
    color: red;
}

.classcomp{
    width: 100%;
    border: 1px solid black;
    padding: 30px;
    margin-top: 20px;
}

.classdiv{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 2px;
}

.classbtn-style{
    padding: 5px;
    cursor: pointer;
}

.gitimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.gitimg > img{
    border-radius: 60%;
    width: 100%;
}